<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/assignusersStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <title>TA Scheduler Homepage</title>
</head>
<body>

<header>
    <div class="logout-container">
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Log out" />
        </form>
    </div>
    <div class="logo-3">
        <a href="#">
            <h3>TA Scheduler</h3>
            <p>Universities of Wisconsin</p>
        </a>
    </div>
</header>

<div class="sidebar">
    <div class="sidebar-header"></div>
    <ul class="menu-bar">
        <ul class="menu-bar">
            <li><a href="{% url 'accountmanagement' %}"><span class="material-symbols-outlined">manage_accounts</span>Account Management</a></li>
            <li><a href="{% url 'coursemanagement' %}"><span class="material-symbols-outlined">folder_managed</span>Course Management</a></li>
            <li><a href="{% url 'viewusers' %}"><span class="material-symbols-outlined">person_search</span>View Users</a></li>
            <li><a href="{% url 'viewcourses' %}"><span class="material-symbols-outlined">feature_search</span>View Courses</a></li>
            <li><a href="{% url 'assignusers' %}"><span class="material-symbols-outlined">switch_account</span>Assign User to Course</a></li>
            <li><a href="{% url 'notifications' %}"><span class="material-symbols-outlined">notifications</span>Send Notifications</a></li>
            <li><a href="{% url 'editcontactinfo' %}"><span class="material-symbols-outlined">edit_note</span> Edit Contact Information</a></li>
        </ul>
    </ul>
</div>

<div class="form-container">
    <h2>Assign User to Course</h2>
    <form action="/assign-users/" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td><label>Name:</label></td>
                <td>
                    <select name="names">
                        <option value="">Select Name</option>
                        {% for name in names %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Course ID:</label></td>
                <td>
                    <select name="courseid">
                        <option value="">Select Course ID</option>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}">{{ course.course_name }} {{ course.course_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Section ID:</label></td>
                <td>
                    <select name="sectionid">
                        <option value="">Select Section ID</option>
                        {% for section_id in section_ids %}
                            <option value="{{ section_id }}">{{ section_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="centered">
                    {{ message }}
                    <button type="submit" name="assignuser" value="true">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<footer>
    &copy; 2024 Digital Dream Team, CS361. All rights reserved.
</footer>

</body>
</html>
