<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/homepageStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>TA Scheduler Homepage</title>

</head>
<body>
    <header>
        <div class="logout-container">
            <a href="/">Log out</a>
        </div>
        <div class="logo-3">
            <a href="#">
                <h3>TA Scheduler</h3>
                <p>Universities of Wisconsin</p>
            </a>
        </div>
    </header>

    <h1> Welcome, Supervisor! </h1>

    <footer>
        &copy 2024 Digital Dream Team, CS361. All rights reserved.
    </footer>
</body>
</html>
