<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor - Edit Contact Information</title>
    <link rel="stylesheet" type="text/css" href="/static/editcontactinfoStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>
    <header>
        <div class="logout-container">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" name="logout" value="Log out" />
            </form>
        </div>
        <div class="logo-3">
            <a href="#">
                <h3>TA Scheduler</h3>
                <p>Universities of Wisconsin</p>
            </a>
        </div>
    </header>

    <div class="sidebar">
        <div class="sidebar-header">
            <!-- Empty for spacing -->
        </div>
        <ul class="menu-bar">
            <li><a href="{% url 'instructor_edit_contact' %}"><span class="material-symbols-outlined">edit</span>Edit Contact Info</a></li>
            <li><a href="{% url 'instructor_section_management' %}"><span class="material-symbols-outlined">group</span>Section Management</a></li>
            <li><a href="{% url 'instructor_view_courses' %}"><span class="material-symbols-outlined">class</span>View Courses</a></li>
            <li><a href="{% url 'instructor_view_users' %}"><span class="material-symbols-outlined">search</span>View Users</a></li>
            <li><a href="{% url 'instructor_notifications' %}"><span class="material-symbols-outlined">notifications</span>Send Notifications</a></li>
        </ul>
    </div>

    <div class="form-container">
        <h2>Edit Contact Information</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <td><label>Current Email: {{ oldemail }}</label></td>
                </tr>
                <tr>
                    <td><label>Email:</label></td>
                    <td><input type="email" name="email" required/></td>
                </tr>
                <tr>
                    <td><label>Current Phone: {{ oldphone }}</label></td>
                </tr>
                <tr>
                    <td><label>Phone:</label></td>
                    <td><input type="tel" name="phone" required/></td>
                </tr>
                <tr>
                    <td><label>Current Address: {{ oldaddress }}</label></td>
                </tr>
                <tr>
                    <td><label>Address:</label></td>
                    <td><input type="text" name="address" required/></td>
                </tr>
                <tr>
                    <td colspan="2" class="centered">
                        <button type="submit" name="update_instructor" value="true">Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <footer>
        &copy; 2024 Digital Dream Team, CS361. All rights reserved.
    </footer>
</body>
</html>
