<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/instructor_section_managementStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <title>Instructor Dashboard</title>
</head>
<header>
    <div class="logout-container">
        <form action="/instructor/dashboard/" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Log out" />
        </form>
    </div>
    <div class="logo-3">
        <a href="#">
            <h3>TA Scheduler</h3>
            <p>Universities of Wisconsin</p>
        </a>
    </div>
</header>
<body>
    <div class="sidebar">
        <div class="sidebar-header">

        </div>
        <ul class="menu-bar">
            <li><a href="{% url 'instructor_edit_contact' %}"><span class="material-symbols-outlined">edit</span>Edit Contact Info</a></li>
            <li><a href="{% url 'instructor_section_management' %}"><span class="material-symbols-outlined">group</span>Section Management</a></li>
            <li><a href="{% url 'instructor_view_courses' %}"><span class="material-symbols-outlined">class</span>View Courses</a></li>
            <li><a href="{% url 'instructor_view_users' %}"><span class="material-symbols-outlined">search</span>View Users</a></li>
            <li><a href="{% url 'instructor_notifications' %}"><span class="material-symbols-outlined">notifications</span>Send Notifications</a></li>
        </ul>
    </div>

  <div class="form-container">
    <h2>Assign Instructor to Course section</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td><label>Course ID:</label></td>
                <td>
                    <select name="courseid">
                        <option value="">Select Course ID</option>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}">{{ course.course_name }} {{ course.course_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Section ID:</label></td>
                <td>
                    <select name="coursesectionid">
                        <option value="">Select Section ID</option>
                        {% for section_id in course_section_ids %}
                            <option value="{{ section_id.section_id }}"> {{ section_id.course.course_name }} {{ section_id.section_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="centered">
                    {{ assign_course_section }}
                    <button type="submit" name="assigncoursesection" value="true">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>

  <div class="form-container">
    <h2>Assign TA to Lab Section</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td><label>Name:</label></td>
                <td>
                    <select name="names">
                        <option value="">Select Name</option>
                        {% for name in names %}
                            <option value="{{ name.name }}">{{ name.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Course ID:</label></td>
                <td>
                    <select name="lab_courseid">
                        <option value="">Select Course ID</option>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}">{{ course.course_name }} {{ course.course_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Lab Section ID:</label></td>
                <td>
                    <select name="sectionid">
                        <option value="">Select Section ID</option>
                        {% for section_id in section_ids %}
                            <option value="{{ section_id.section_id }}">{{ section_id.section_id }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
                <td colspan="2" class="centered">
                    {{ assign_lab_section }}
                    <button type="submit" name="assignlabsection" value="true">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>
    <footer>
        &copy 2024 Digital Dream Team, CS361. All rights reserved.
    </footer>
</body>
</html>