<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/viewusersStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <title>TA - View Users</title>
</head>
<body>

<header>
    <div class="logout-container">
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Log out" />
        </form>
    </div>
    <div class="logo-3">
        <a href="#">
            <h3>TA Scheduler</h3>
            <p>Universities of Wisconsin</p>
        </a>
    </div>
</header>

<div class="sidebar">
    <div class="sidebar-header"></div>
    <ul class="menu-bar">
        <ul class="menu-bar">
            <li><a href="{% url 'ta_edit_contact' %}"><span class="material-symbols-outlined">edit_note</span>Edit Contact Information</a></li>
            <li><a href="{% url 'ta_my_sections' %}"><span class="material-symbols-outlined">folder_managed</span>My Sections</a></li>
            <li><a href="{% url 'ta_view_courses' %}"><span class="material-symbols-outlined">folder_open</span>View Courses</a></li>
            <li><a href="{% url 'ta_view_users' %}"><span class="material-symbols-outlined">person_search</span>View Users</a></li>
        </ul>
    </ul>
</div>

<div class="content">
    <div class="form-container">
        <h1>Users</h1>
        <table class="form-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role ID</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<footer>
    &copy; 2024 Digital Dream Team, CS361. All rights reserved.
</footer>

</body>
</html>
