body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e9f7;
}

header {
    background-color: #34495e;
    color: #fff;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.logout-container input[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e74c3c;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #2c3e50;
    color: #fff;
}

.sidebar-header {
    background-color: #34495e;
    padding: 20px;
    min-height: 50px; /* Keep the height even when empty */
    color: transparent; /* Hide text */
}

.menu-bar {
    list-style: none;
    padding: 0;
}

.menu-bar li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu-bar li a:hover {
    background-color: #1a1a1a;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #34495e;
    color: #fff;
    position: fixed;
    bottom: 0;
}
